# Ejercicios de Iniciación a Python

## Ejercicio 1: Slicing
Dada la lista `numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`, extrae los números del 4 al 8 usando slicing.

In [84]:
#Resultado aquí
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numeros[4:8])

[5, 6, 7, 8]

## Ejercicio 2: Conjuntos
Crea un conjunto a partir de la lista `['manzana', 'naranja', 'manzana', 'pera', 'naranja']` y muestra el conjunto resultante.

In [85]:
#Resultado aquí
set(['manzana', 'naranja', 'manzana', 'pera', 'naranja'])

{'manzana', 'naranja', 'pera'}

## Ejercicio 3: Tuplas
Crea una tupla que contenga los números del 1 al 5 y accede al segundo elemento.

In [86]:
#Resultado aquí
tupla = (1,2,3,4,5)
tupla[1]

2

## Ejercicio 4: Listas
Añade el número 6 al final de la lista `numeros = [1, 2, 3, 4, 5]`.

In [87]:
#Resultado aquí
numeros = [1, 2, 3, 4, 5]
numeros.append(6)
numeros

[1, 2, 3, 4, 5, 6]

## Ejercicio 5: Diccionarios
Crea un diccionario con las claves "nombre", "edad", y "ciudad" y valores "Ana", 25, y "Madrid" respectivamente.

In [88]:
#Resultado aquí
persona = {"nombre":"Ana","edad":25,"ciudad":"Madrid"}
persona

{'nombre': 'Ana', 'edad': 25, 'ciudad': 'Madrid'}

## Ejercicio 6: Funciones
Escribe una función `suma` que reciba dos números y devuelva su suma.

In [89]:
#Resultado aquí
def suma(a,b):
    return a + b

print(suma(4,4))

8

## Ejercicio 7: Slicing
Dada la cadena `palabra = 'abracadabra'`, usa slicing para obtener los primeros 3 caracteres.

In [119]:
#Resultado aquí
palabra = 'abracadabra'
palabra[:3]

'abr'

## Ejercicio 8: Conjuntos
Encuentra la intersección entre los conjuntos `{1, 2, 3, 4}` y `{3, 4, 5, 6}`.

In [120]:
#Resultado aquí
conj1 = {1, 2, 3, 4}
conj2 = {3, 4, 5, 6}
conj3 = conj1 & conj2
conj3

{3, 4}

## Ejercicio 9: Tuplas
Crea una tupla con un solo elemento: el número 7.

In [ ]:
#Resultado aquí
tupla = (7,)
type(tupla)

(7,)

## Ejercicio 10: Listas
Reemplaza el segundo elemento de la lista `colores = ['rojo', 'verde', 'azul']` por `amarillo`.

In [93]:
#Resultado aquí
colores = ['rojo', 'verde', 'azul']
colores[1] = "amarillo"
colores

['rojo', 'amarillo', 'azul']

## Ejercicio 11: Diccionarios
Añade una nueva clave "país" con el valor "España" al diccionario `persona`.

In [94]:
#Resultado aquí
persona.update({"pais":"España"})
persona

{'nombre': 'Ana', 'edad': 25, 'ciudad': 'Madrid', 'pais': 'España'}

## Ejercicio 12: Funciones
Escribe una función `es_par` que reciba un número y devuelva `True` si es par y `False` si es impar.

In [95]:
#Resultado aquí
def es_par(num):
    if num%2==0:
        return True
    else:
        return False

print(es_par(2))

True

## Ejercicio 13: Slicing
Invierte la lista `letras = ['a', 'b', 'c', 'd', 'e']` usando slicing.

In [96]:
#Resultado aquí
letras = ['a', 'b', 'c', 'd', 'e']
letras[::-1]

['e', 'd', 'c', 'b', 'a']

## Ejercicio 14: Conjuntos
Determina si el conjunto `{1, 2, 3}` es un subconjunto de `{1, 2, 3, 4, 5}`.

In [ ]:
#Resultado aquí
conj = {1,2,3}
subcj = {1,2,3,4,5}

conj = {1,2,3}
subcj = {1,2,3,4,5}

print(conj<=subcj)

flag = True
for i in conj:
    if i in subcj:
        continue
    elif i not in subcj:
        flag = False
        break

print(flag)

False

## Ejercicio 15: Tuplas
Cambia el valor de la tupla `mi_tupla = (10, 20, 30)` usando un casting a lista.

In [ ]:
#Resultado aquí
mi_tupla = (10, 20, 30)
list(mi_tupla)

[10, 20, 30]

## Ejercicio 16: Listas
Ordena la lista `desordenada = [3, 1, 4, 2, 5]` de forma ascendente.

In [ ]:
#Resultado aquí
desordenada = [3, 1, 4, 2, 5]
desordenada.sort()
desordenada

[1, 2, 3, 4, 5]

## Ejercicio 17: Diccionarios
Elimina la clave "edad" del diccionario `persona`.

In [99]:
#Resultado aquí
del(persona["edad"])
persona

{'nombre': 'Ana', 'ciudad': 'Madrid', 'pais': 'España'}

## Ejercicio 18: Funciones
Crea una función `factorial` que calcule el factorial de un número entero.

In [112]:
#Resultado aquí
def factorial(num):
    if num > 1: # hasta llegar a 1
        # numero = a la formula n × (n-1)
        # se va llamando restando uno a num, a la vuelta se multiplica
        num = num * factorial(num -1)    
    return num

factorial(6)

720

## Ejercicio 19: Slicing
Usa slicing para obtener los elementos pares de la lista `numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

In [101]:
#Resultado aquí
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros[::2]

[0, 2, 4, 6, 8, 10]

## Ejercicio 20: Conjuntos
Agrega el elemento `7` al conjunto `{1, 2, 3, 4, 5, 6}`.

In [107]:
#Resultado aquí
conj = {1, 2, 3, 4, 5, 6}
conj.add(7)
conj

{1, 2, 3, 4, 5, 6, 7}