In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Ejercicio 1: Análisis de Datos de Calidad del Aire en California

Utilizando el dataset de calidad del aire de California disponible en:
https://www.kaggle.com/datasets/sogun3/uspollution

O directamente del EPA (Environmental Protection Agency):
https://aqs.epa.gov/aqsweb/airdata/download_files.html

Realiza las siguientes tareas:

1. Carga el dataset en un DataFrame y filtra los datos para quedarte solo con las mediciones de California

2. Realiza una limpieza inicial de los datos:
   - Identifica y maneja valores nulos
   - Convierte las columnas de fecha al formato correcto
   - Verifica y corrige valores atípicos

3. Analiza los contaminantes principales (NO2, SO2, CO, O3):
   - Calcula promedios mensuales por ciudad
   - Identifica las 5 ciudades con mayores niveles de cada contaminante
   - Determina si hay patrones estacionales

4. Crea nuevas columnas derivadas:
   - Índice de calidad del aire simplificado
   - Clasificación por niveles de riesgo
   - Indicadores de cumplimiento de estándares EPA

5. Realiza análisis temporal:
   - Calcula tendencias anuales
   - Identifica días críticos (con valores extremos)
   - Genera medias móviles semanales y mensuales

6. Exporta los resultados:
   - Guarda un resumen por ciudad en CSV
   - Crea un archivo con los días críticos identificados
   - Genera un reporte con las estadísticas principales

Conceptos evaluados:
- Filtrado y selección de datos
- Manejo de fechas y series temporales
- Agregaciones y groupby
- Creación de nuevas variables
- Detección de outliers
- Exportación de resultados
- Análisis estadístico básico

Bonus:
- Crear visualizaciones de las tendencias encontradas
- Realizar un análisis de correlación entre contaminantes
- Implementar un sistema de alertas basado en umbrales"

In [2]:
usPollution = pd.read_csv("c:/Users/alvar/Documents/DataSets/pollution_us_2000_2016.csv")
usPollution.head(3)

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN

In [3]:
# quitar los nulos haciendo la media
usPollution.loc[:, 'CO AQI'] = usPollution['CO AQI'].fillna(usPollution['CO AQI'].mean())
usPollution.loc[:, 'SO2 AQI'] = usPollution['SO2 AQI'].fillna(usPollution['SO2 AQI'].mean())

# Comprobacion de nulos
nulos=usPollution.isnull()
total=nulos.sum()
total_nulos = total.sum()
print("Cantidad total de nulos:", total_nulos)

Cantidad total de nulos: 0

In [4]:
# Cambiar las fechas formato español
usPollution["Date Local"] = pd.to_datetime(usPollution["Date Local"])           # se pasa a datetime
usPollution["Date Local"] = usPollution["Date Local"].dt.strftime("%d-%m-%Y")   # se formatea
print(usPollution["Date Local"])

0          01-01-2000
1          01-01-2000
2          01-01-2000
3          01-01-2000
4          02-01-2000
              ...
1746656    30-03-2016
1746657    31-03-2016
1746658    31-03-2016
1746659    31-03-2016
1746660    31-03-2016
Name: Date Local, Length: 1746661, dtype: object

In [5]:
# Encontrar las columnas con valores atipicos
for columna in usPollution.select_dtypes(include='number').columns:
    Q1 = usPollution[columna].quantile(0.25)
    Q3 = usPollution[columna].quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    # Verificar si hay valores atípicos
    outliers = usPollution[(usPollution[columna] < limite_inferior) | (usPollution[columna] > limite_superior)]
    if not outliers.empty:
        print(f"Columna '{columna}' tiene valores atípicos.")

Columna 'County Code' tiene valores atípicos.
Columna 'Site Num' tiene valores atípicos.
Columna 'NO2 Mean' tiene valores atípicos.
Columna 'NO2 1st Max Value' tiene valores atípicos.
Columna 'NO2 AQI' tiene valores atípicos.
Columna 'O3 Mean' tiene valores atípicos.
Columna 'O3 1st Max Value' tiene valores atípicos.
Columna 'O3 1st Max Hour' tiene valores atípicos.
Columna 'O3 AQI' tiene valores atípicos.
Columna 'SO2 Mean' tiene valores atípicos.
Columna 'SO2 1st Max Value' tiene valores atípicos.
Columna 'SO2 AQI' tiene valores atípicos.
Columna 'CO Mean' tiene valores atípicos.
Columna 'CO 1st Max Value' tiene valores atípicos.
Columna 'CO AQI' tiene valores atípicos.

In [6]:
# ahora que sabemos cuales son todos los outlayers los metemos en un array
outlayers = ['County Code','Site Num','NO2 Mean','NO2 1st Max Value','NO2 AQI','O3 Mean','O3 1st Max Value',
             'O3 1st Max Hour','O3 AQI','SO2 Mean','SO2 1st Max Value','SO2 AQI','CO Mean','CO 1st Max Value','CO AQI']

# sns.boxplot(data=usPollution[outlayers])
# plt.title("Antes del tratamiento")
# plt.show()

# reemplazar los outlayers por la media
for columna in outlayers:
    Q1 = usPollution[columna].quantile(0.25)
    Q3 = usPollution[columna].quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    media = usPollution[columna].median()

    # Reemplazar valores por la media
    usPollution.loc[usPollution[columna] < limite_inferior, columna] = media
    usPollution.loc[usPollution[columna] > limite_superior, columna] = media

# sns.boxplot(data=usPollution[outlayers])
# plt.title("Después del tratamiento")
# plt.show()

In [7]:
# 3. Analiza los contaminantes principales (NO2, SO2, CO, O3):
# Calcula promedios mensuales por ciudad
print(usPollution.groupby("City")[["NO2 Mean", "O3 Mean", "SO2 Mean", "CO Mean"]].mean())

                NO2 Mean   O3 Mean  SO2 Mean   CO Mean
City
Albuquerque    12.327862  0.031607  0.606967  0.209757
Alexandria     14.723212  0.029367  1.431808  0.250643
Altoona         9.805315  0.027530  1.848689  0.153368
Annandale      12.443023  0.028033  2.673347  0.418900
Arden-Arcade   10.555333  0.025731  0.855301  0.334480
...                  ...       ...       ...       ...
Wilkes-Barre    9.379293  0.027925  2.107246  0.207660
Wilmington     11.556340  0.026417  1.014242  0.261600
Winston-Salem  10.938972  0.033318  2.219531  0.457841
Winter Park     7.630252  0.026599  0.378496  0.419641
York           12.484448  0.028238  1.850898  0.213278

[144 rows x 4 columns]

In [8]:
# Identifica las 5 ciudades con mayores niveles de cada contaminante
# por cada contaminante hay que ordenar los valores y mostrar las 5 primeras ciudades
topNO2 = usPollution.sort_values(by="NO2 Mean", ascending=False).head(5)[["City", "NO2 Mean"]]
topO3 = usPollution.sort_values(by="O3 Mean", ascending=False).head(5)[["City", "O3 Mean"]]
topSO2 = usPollution.sort_values(by="SO2 Mean", ascending=False).head(5)[["City", "SO2 Mean"]]
topCO = usPollution.sort_values(by="CO Mean", ascending=False).head(5)[["City", "CO Mean"]]

# Imprime los resultados
print("Top 5 ciudades con mas cantidad de NO2:")
print(topNO2)

print("\nTop 5 ciudades con mas cantidad de O3:")
print(topO3)

print("\nTop 5 ciudades con mas cantidad de SO2:")
print(topSO2)

print("\nTop 5 ciudades con mas cantidad de CO:")
print(topCO)

Top 5 ciudades con mas cantidad de NO2:
             City   NO2 Mean
1152213      Reno  35.658333
1152212      Reno  35.658333
1152215      Reno  35.658333
1152214      Reno  35.658333
1284994  New York  35.654167

Top 5 ciudades con mas cantidad de O3:
                City   O3 Mean
891893   Victorville  0.057958
891892   Victorville  0.057958
1231876  Victorville  0.057958
1231774  Victorville  0.057958
1231772  Victorville  0.057958

Top 5 ciudades con mas cantidad de SO2:
                     City  SO2 Mean
928910             Boston  5.427273
928909             Boston  5.427273
404122   East Saint Louis  5.425000
250545           New York  5.425000
1283917          New York  5.425000

Top 5 ciudades con mas cantidad de CO:
               City   CO Mean
1071200     Tijuana  0.891364
1071198     Tijuana  0.891364
25536     San Diego  0.891304
1492012  Long Beach  0.891304
202785   Costa Mesa  0.891304

In [16]:
# Determina si hay patrones estacionales

In [10]:
# 4. Crea nuevas columnas derivadas:
# Índice de calidad del aire simplificado
# Clasificación por niveles de riesgo
# Indicadores de cumplimiento de estándares EPA

In [11]:
# 5. Realiza análisis temporal:
# Calcula tendencias anuales
# Identifica días críticos (con valores extremos)
# Genera medias móviles semanales y mensuales

In [12]:
# 6. Exporta los resultados:
# Guarda un resumen por ciudad en CSV
# Crea un archivo con los días críticos identificados
# Genera un reporte con las estadísticas principales

## Ejercicio 2: Análisis de Datos del Mundial de Fútbol

Utilizando el dataset histórico de la FIFA World Cup disponible en:
https://www.kaggle.com/datasets/abecklas/fifa-world-cup

Desarrolla:
1. Carga y combina los datasets de partidos y equipos usando merge
2. Calcula estadísticas por país:
   - Total de participaciones en mundiales
   - Goles anotados y recibidos
   - Victorias, derrotas y empates
3. Identifica los 5 países más exitosos basándote en una métrica que combines
4. Crea un DataFrame pivotado que muestre el progreso de cada país por año
5. Genera visualizaciones para mostrar las tendencias históricas

Conceptos evaluados: merge de DataFrames, pivot tables, agregaciones múltiples, creación de métricas compuestas

In [14]:
dfMatches = pd.read_csv("c:/Users/albaro/Documents/DataSets/WorldCupMatches.csv")
dfPlayers = pd.read_csv("c:/Users/albaro/Documents/DataSets/WorldCupPlayers.csv")
dfCups = pd.read_csv("c:/Users/albaro/Documents/DataSets/WorldCups.csv")

# combinar partidos y equipos
dfPartEquip = pd.merge(dfMatches,dfCups,on="Year")
print("Head de el merge")
dfPartEquip.head()

Head de el merge

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Away Team Initials,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance_y
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,...,MEX,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,...,BEL,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,...,BRA,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,...,PER,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,...,FRA,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549

In [38]:
# Calcula estadísticas por país:
# Total de participaciones en mundiales
partcCasa = dfPartEquip["Home Team Name"].value_counts()
partcFuera = dfPartEquip["Away Team Name"].value_counts()
# Sumando ambas columnas para obtener el total de participaciones por país
particPais = (partcCasa + partcFuera).sort_values(ascending=False)
print(particPais)

# Goles anotados y recibidos
# Calculando los goles anotados y recibidos por país
home_goals = dfPartEquip.groupby("Home Team Name")["Home Team Goals"].sum()
away_goals = dfPartEquip.groupby("Away Team Name")["Away Team Goals"].sum()
 
# Goles recibidos
home_goals_conceded = dfPartEquip.groupby("Home Team Name")["Away Team Goals"].sum()
away_goals_conceded = dfPartEquip.groupby("Away Team Name")["Home Team Goals"].sum()
 
# Total de goles anotados y recibidos por país
total_goals_scored = (home_goals + away_goals).fillna(0).sort_values(ascending=False)
total_goals_conceded = (home_goals_conceded + away_goals_conceded).fillna(0).sort_values(ascending=False)
 
# Combinando en un único DataFrame para mostrar
goals_summary = pd.DataFrame({
    "Goals Scored": total_goals_scored,
    "Goals Conceded": total_goals_conceded
}).sort_values(by="Goals Scored", ascending=False)
 
goals_summary

Brazil               108.0
Italy                 83.0
Argentina             81.0
Germany FR            62.0
England               62.0
                     ...
Dutch East Indies      NaN
Egypt                  NaN
El Salvador            NaN
Israel                 NaN
Kuwait                 NaN
Name: count, Length: 83, dtype: float64

                         Goals Scored  Goals Conceded
Brazil                          225.0           114.0
Argentina                       133.0            85.0
Germany FR                      131.0            77.0
Italy                           128.0            77.0
France                          108.0            72.0
...                               ...             ...
El Salvador                       0.0             0.0
Egypt                             0.0             0.0
Israel                            0.0             0.0
Zaire                             0.0            14.0
rn">Trinidad and Tobago           0.0             4.0

[83 rows x 2 columns]

In [50]:
# Crear columnas de resultados
dfPartEquip['Home Win'] = dfPartEquip['Home Team Goals'] > dfPartEquip['Away Team Goals']
dfPartEquip['Away Win'] = dfPartEquip['Away Team Goals'] > dfPartEquip['Home Team Goals']
dfPartEquip['Draw'] = dfPartEquip['Home Team Goals'] == dfPartEquip['Away Team Goals']

# Lista completa de equipos
all_teams = pd.unique(dfPartEquip[['Home Team Name', 'Away Team Name']].values.ravel())

# Calcular resultados para locales y visitantes
home_results = dfPartEquip.groupby('Home Team Name').agg(Wins=('Home Win', 'sum'), Losses=('Away Win', 'sum'), Draws=('Draw', 'sum'))
away_results = dfPartEquip.groupby('Away Team Name').agg(Wins=('Away Win', 'sum'), Losses=('Home Win', 'sum'), Draws=('Draw', 'sum'))

# Combinar y rellenar faltantes
results = pd.concat([home_results, away_results]).groupby(level=0).sum().reindex(all_teams, fill_value=0).reset_index()

# Renombrar columna y ordenar por victorias
results.rename(columns={'index': 'Team'}, inplace=True)
results.sort_values(by='Wins', ascending=False, inplace=True)

# Mostrar resultados
results.head(len(all_teams))

                         Team  Wins  Losses  Draws
5                      Brazil    71      19     18
21                      Italy    45      17     21
8                   Argentina    44      22     15
29                 Germany FR    36      12     14
19                    Germany    34       8      6
..                        ...   ...     ...    ...
71                   China PR     0       3      0
74  rn">Serbia and Montenegro     0       3      0
72    rn">Trinidad and Tobago     0       2      1
78                       Togo     0       3      0
75                     Angola     0       1      2

[83 rows x 4 columns]

In [57]:
# 3. Identifica los 5 países más exitosos basándote en una métrica que combines
dfPartEquip[["Home Team Name","MatchesPlayed"]].sort_values(ascending=False ,by="MatchesPlayed").head(5)

    Home Team Name  MatchesPlayed
516         Brazil             64
517        Morocco             64
518          Italy             64
519       Cameroon             64
520       Paraguay             64

In [92]:
# 4. Crea un DataFrame pivotado que muestre el progreso de cada país por año
# dfPivotado = dfPartEquip.pivot("Year")
dfPivotado = dfPartEquip.pivot(columns=["Winner","Year"], values='Year').nunique()
dfPivotado
# 5. Genera visualizaciones para mostrar las tendencias históricas

Winner      Year
Uruguay     1930.0    1
Italy       1934.0    1
            1938.0    1
Uruguay     1950.0    1
Germany FR  1954.0    1
Brazil      1958.0    1
            1962.0    1
England     1966.0    1
Brazil      1970.0    1
Germany FR  1974.0    1
Argentina   1978.0    1
Italy       1982.0    1
Argentina   1986.0    1
Germany FR  1990.0    1
Brazil      1994.0    1
France      1998.0    1
Brazil      2002.0    1
Italy       2006.0    1
Spain       2010.0    1
Germany     2014.0    1
dtype: int64

## Ejercicio 3: Análisis de Series Temporales de Bolsa

Usando el dataset de Yahoo Finance para el índice S&P 500 (^GSPC) disponible vía pandas_datareader:
https://finance.yahoo.com/quote/%5EGSPC/

Realiza:
1. Obtén los datos de los últimos 5 años usando pandas_datareader
2. Calcula retornos diarios, semanales y mensuales
3. Identifica los 10 días con mayor volatilidad
4. Implementa una ventana móvil de 20 días para calcular:
   - Media móvil
   - Desviación estándar móvil
   - Máximos y mínimos móviles
5. Crea indicadores técnicos básicos (RSI, MACD)
6. Genera visualizaciones de los indicadores

Conceptos evaluados: series temporales, ventanas móviles, cálculos financieros, resampleo de datos

## Ejercicio 4: Análisis de Datos de COVID-19

Utilizando el dataset de Our World in Data sobre COVID-19:
https://github.com/owid/covid-19-data/tree/master/public/data

Desarrolla:
1. Carga y limpia el dataset
2. Calcula para cada país:
   - Tasa de positividad diaria
   - Media móvil de 7 días de casos nuevos
   - Tiempo hasta alcanzar picos de casos
3. Agrupa países por continente y compara métricas clave
4. Identifica correlaciones entre variables (casos, muertes, vacunación)
5. Crea un dashboard básico con las métricas más relevantes

Conceptos evaluados: limpieza de datos, análisis por grupos, correlaciones, visualización avanzada

## Ejercicio 5: Análisis de Reseñas de Amazon

Usando el dataset de reseñas de Amazon disponible en:
https://www.kaggle.com/datasets/snap/amazon-fine-food-reviews

Realiza:
1. Carga y preprocesa el dataset
2. Analiza la distribución de puntuaciones
3. Identifica patrones temporales en las reseñas:
   - Evolución de puntuaciones promedio por mes/año
   - Cambios en la longitud de las reseñas
4. Agrupa productos por categoría y analiza diferencias en:
   - Puntuación promedio
   - Cantidad de reseñas
   - Sentimiento general
5. Crea un sistema simple de detección de reseñas potencialmente falsas basado en múltiples criterios

Conceptos evaluados: text processing, análisis temporal, detección de anomalías, agregaciones complejas